.cabecalho-menu {
    background-color: var(rgb(98, 3, 110));
}

.cabecalho-menu-item {
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(99, 5, 136);
    text-align: center;
    border-top: 1px solid;
}